@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
  --primary-color: #2a7ae4;
  --secondary-color: #f5f5f5;
  --terciary-color: #eaf2fd;
  --text-color: #464646;
}

main {
  top: 0px;
  grid-area: mn;
}

body {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas:
    'hr'
    'mn'
    'ft';
}

.wrapper {
  width: 1136px;
  margin: 0 auto;
}
